body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header{
    background-color: yellow;
}
main{
    background-color: violet;
    display: flex;
    padding: 2%;
}
aside{
    background-color: blue;
    width: 25%;
    padding: 10%;
}
section{
    background-color: green;    
    width: 75%;
    padding: 10%;
}
article{
    background-color: bisque;
}
footer{
    background-color: brown;
}